/* Styles généraux pour la nav-bar */
.navbar {
  background-color: #181210;
  color: white; /* Couleur du texte */
  display: flex;
  align-items: center;
  padding: 0 16px; /* Espacement horizontal */
}

/* Styles pour le mat-toolbar */
mat-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Légère ombre */
}

/* Bouton de menu */
button.example-icon {
  color: white;
  margin-right: 16px;
}

/* Icône dans le bouton */
button.example-icon mat-icon {
  font-size: 24px;
}

/* Zone de recherche */
.SearchBar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Champ de recherche */
.SearchBar mat-form-field {
  width: 100%;
  max-width: 400px; /* Limite la largeur du champ */
  background-color: #2b2b2b;
  border-radius: 4px;
}

/* Texte et icône dans le champ */
.SearchBar mat-form-field input {
  color: white;
}

.SearchBar mat-form-field mat-icon {
  color: #ffd740; /* Couleur de l'icône */
}

/* Placeholder pour l'input */
.SearchBar mat-form-field ::placeholder {
  color: #a6a6a6; /* Couleur du placeholder */
}

/* Apparence responsive */
@media (max-width: 600px) {
  .SearchBar {
    align-content: center;
    padding: 0 8px;
  }

  .SearchBar mat-form-field {
    max-width: 100%; /* Champ de recherche s'adapte à la largeur de l'écran */
  }
}
